#footer {
    padding-top: 43px;
    border-top: 8px solid #D06D80;
    margin-top: 50px;
    .logo-ft{
        max-width: 290px;
    }

    .row{
        .col-12:nth-child(2){
            padding-left: 140px;
        }
        .col-12:nth-child(3){
            padding-left: 140px;
        }

        @media only screen and (max-width: 768px){
            .col-12:nth-child(2){
                padding-left: 50px;
            }
            .col-12:nth-child(3){
                padding-left: 15px;
            }
        }

        @media only screen and (max-width: 576px){
            .col-12:nth-child(2){
                padding-left: 15px;
            }
            .col-12:nth-child(3){
                padding-left: 15px;
            }
        }
    }

    .box-follow{
        a{
            display: inline-flex;
            width: 30px;
            height: 30px;
            justify-content: center;
            align-items: center;
            background: #90B35D;
            border-radius: 5px;
            margin-right: 10px;
            transition: .3s ease-out;
            color: #fff;


            &:last-child{
                margin-right: unset;
            }

            &:hover{
                background: #D06D80;
            }
        }
    }

    .contact-info{
        p{
            font-size: 13px;
            position: relative;
            margin-bottom: 17px;
            
            span{
                position: relative;
                display: block;
                padding-left: 33px;
            }

            &:before{
                color: #ffff;
                background: #90B35D;
                position: absolute;
                width: 25px;
                height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 2px;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                font-family: "fontawesome";
            }

            &:nth-child(1):before{
                content:"\f041";           
            }

            &:nth-child(2):before{
                content:"\f0e0";
            }

            &:nth-child(3):before{
                content:"\f0ac";
            }
        }
    }

    .ft-title{
        padding: 25px 0px;
        h3{
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .box-links{
        ul{
            li{
                a{
                    font-size: 14px;
                    transition: .3s ease-out;
                    line-height: 30px;
                    
                    &:hover{
                        color: #90B35D;
                    }
                }
            }
        }
    }

    .end-ft{
        border-top: 1px solid #E3E3E4;
        padding: 12px 0px;
        text-align: center;
        margin-top: 25px;
        p{
            font-size: 14px;
        }
    }

    a.cd-top {
        display: inline-block;
        height: 35px;
        width: 35px;
        position: fixed;
        bottom: 360px;
        right: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        /* image replacement properties */
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        background: #D06D80 url('../images_icon/back2.png') no-repeat center 50%;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity .3s 0s, visibility 0s .3s;
        -moz-transition: opacity .3s 0s, visibility 0s .3s;
        transition: opacity .3s 0s, visibility 0s .3s;
        z-index: 999;
        border-radius: 5px;
    }

    a.cd-top.cd-is-visible, a.cd-top.cd-fade-out, .no-touch a.cd-top:hover {
        -webkit-transition: opacity .3s 0s, visibility 0s 0s;
        -moz-transition: opacity .3s 0s, visibility 0s 0s;
        transition: opacity .3s 0s, visibility 0s 0s;
    }

    a.cd-top, a.cd-top:visited, a.cd-top:hover {
        color: #CCCCCC;
        text-decoration: none;
    }

    a.cd-top.cd-is-visible {
        /* the button becomes visible */
        visibility: visible;
        opacity: 1;
    }

    a.cd-top.cd-fade-out {
        /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
        opacity: 1;
    }
}
