@import "reset";
@import "header";
@import "footer";
@import "mobile_nav";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap');

@font-face {
    font-family: 'title-UTM-1';
    src: url('../fonts/font/UTM\ ViceroyJF.ttf');
}

@font-face {
    font-family: 'title-UTM-2';
    src: url('../fonts/font/UTM\ Yen\ Tu.ttf');
}

@mixin main-title {
    text-align: center;
    h1,h2{
        font-size: 30px;
        color: #90B35D;  
        
    }
    .dv-line{
        width: 110px;
        height: 2px;
        background: #90B35D;
        margin: 17px auto;
    }
}


#home-page{
    position: relative;
}

.bg-1{
    position: absolute;
    width: 230px;
    height: 330px;
    background-image: url('../images/bg1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 850px;
    left: 0;
    opacity: .6;
    z-index: -1;

    @media only screen and (max-width: 768px){
        &{
            display: none;
        }
    }
}

.bg-2{
    position: absolute;
    width: 250px;
    height: 370px;
    background-image: url('../images/bg2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 1226px;
    right: 0;
    opacity: .6;
    z-index: -1;
    @media only screen and (max-width: 768px){
        &{
            display: none;
        }
    }
}

.bg-3{
    position: absolute;
    width: 170px;
    height: 197px;
    background-image: url('../images/1274.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 1900px;
    left: 0;
    opacity: .6;
    z-index: -1;
    @media only screen and (max-width: 768px){
        &{
            display: none;
        }
    }
}

.bg-4{
    position: absolute;
    width: 260px;
    height: 256px;
    background-image: url('../images/bg4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 665px;
    right: 0;
    opacity: .6;
    z-index: -1;
    @media only screen and (max-width: 768px){
        &{
            display: none;
        }
    }
}

.product-box{
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0px 1px 7px 1px rgba(198,198,198,0.5); 
    box-shadow: 0px 1px 7px 1px rgba(198,198,198,0.5);
    transition: .2s ease-out;
    margin-bottom: 20px;
    cursor: pointer;

    &:hover{
        -webkit-box-shadow: 0px 3px 10px 2px rgba(198,198,198,0.55); 
        box-shadow: 0px 3px 10px 2px rgba(198,198,198,0.55);
        transform: translateY(-2px);
    }
    &:hover .box-images img{
        opacity: .8;
    }
    .box-images{
        position: relative;
        max-width: 100%;
        height: 270px;
        overflow: hidden;
        z-index: 1;

        @media only screen and (max-width: 768px){
            &{
                height: auto;
            }
        }
        img{
            width: 100%;
            height: 100%;
            vertical-align: middle;
            transition: .3s;
        }
        .badge-c{
            position: absolute;
            width: 60px;
            height: 25px;
            z-index: 2;
            top: 40px;
            left: -5px;
            background-image: url('../images_icon/sale.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            white-space: nowrap;
            span{
                color: #fff;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }

    .box-text{
        padding: 18px 0px;
        .title-product{
            a{
                font-size: 15px;
                font-weight: 500;
                transition: .3s ease-out;
    
                &:hover{
                    color: #90B35D;
                }
            }
        }
        
        .price-product{
            padding-top: 10px;
            .price{
                color: #D06D80;
                font-size: 14px;
                font-weight: 700;

                ins{
                    text-decoration: none;
                }
            }
            
        }

        .add-to-cart-box{
            padding-top: 10px;
            a{
                display: inline-flex;
                align-items: center;
                border: 2px solid #90B35D;
                font-size: 13px;
                font-weight: 700;
                text-transform: uppercase;
                color: #90B35D;
                height: 27px;
                padding-right: 20px;
                transition: .3s ease-out;


                &::before{
                    content:"\f07a";
                    font-family: "fontawesome";
                    background: #90B35D;
                    color: #fff;
                    height: 27px;
                    width: 27px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 20px;
                }

                &:hover{
                    color: #fff;
                    background: #90B35D;
                }
            }
        }
    }
}

.bread-cumb{
    .breadcrumb{
        background: #fff;
        padding: .75rem 0rem;
    
    
        a{
            transition: .3s ease-out;
            &:hover{
                color: #90B35D;
            }
        }
    }

    &.bread-two{
        background: #E6E6E6;
        margin: 0;
        .breadcrumb{
            background: none;
            padding: 10px 0px;
            
        }
        
    }
}


.pages{
    margin: 20px auto;
    ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        li{
            margin-right: 10px;

            &:last-child{
                margin-right: unset;
            }
            a{
                width: 30px;
                height: 30px;
                display: inline-flex;
                border: 2px solid #000;
                justify-content: center;
                align-items: center;
                transition: .3s ease-out;
                font-size: 14px;
                border-radius: 50%;
                &:hover{
                    background: #90B35D;
                    color: #fff;
                }
            }
        }
    }
}

// ------------------------------------------------------------- home page --------------------------------------------------------------

.banner{
    position: relative;
    overflow: hidden;
    
    .banner-images{
        max-width: 100%;
        height: 556px;
        overflow: hidden;
        position: relative;
        z-index: 1;

        @media only screen and (max-width: 576px){
            &{
                height: 320px;
            }
        }

        img{
            width: 100%;
            height: 100%;
            vertical-align: middle;
        }
    }

    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        z-index: 2;
        background: rgba(0, 0, 0, 0.281);
    }

    .box-text{
        z-index: 3;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 70%;
        @media only screen and (max-width: 768px){
            &{
                width: 90%;
            }
        }
        h2{
            font-size: 60px;
            color: #fff;
            font-weight: 700;
            @media only screen and (max-width: 576px){
                &{
                    font-size: 25px;
                }
            }
        }

        .btn-shop-now{
            display: inline-block;
            color: #90B35D;
            font-size: 20px;
            font-weight: 700;
            background: #fff;
            padding: 8px 30px;
            border-radius: 5px;
            margin-top: 20px;
            text-transform: uppercase;
            transition: .3s ease-out;

            &:hover{
                background: #90B35D;
                color: #fff;
            }

            @media only screen and (max-width: 576px){
                &{
                    font-size: 14px;
                }
            }
        }
    }
}

.welcome-tl{
    padding-top: 60px;
    position: relative;
    z-index: 2;
    .sec-1{
        z-index: 3;
        .main-title{
            @include main-title();
            text-align: left;
            .dv-line{
                margin: 17px 0px;
            }
        }
    }

    .sec-2{
        border-top: 1px solid #E3E3E4;
        border-bottom: 1px solid #E3E3E4;
        padding-top: 40px;
        padding-bottom: 60px;
        margin-top: 53px;    
        .main-title{
            @include main-title();           
        }

        .card{
            text-align: center;
            border:none;
            margin-bottom: 20px;
            h4{
                font-size: 21px;
                color: #5F4D36;
                display: -webkit-box;
                line-height: 26px;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 52px;
            }

            .desc{
                font-size: 14px;
                padding: 20px 0px;
                text-align: center;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 95px;
            }

            .btn-read-more{
                display: block;
                font-size: 15px;
                font-weight: 700;
                text-transform: uppercase;
                border-top: 1px solid #5F4D36;
                padding-top: 15px;
                transition: .3s ease-out;
                color: #5F4D36;
                margin-top: 10px;
                margin-bottom: 10px;

                &:after{
                    content:"\f178";
                    font-family: "fontawesome";
                    padding-left: 5px;
                    color: #5F4D36;
                    transition: .3s ease-out;
                }

                &:hover:after{
                    padding-left: 15px;
                }
            }
        }
    }

    p{
        font-size: 14px;
        line-height: 26px;
        text-align: justify;
        color: #595858;
        font-weight: 500;
    }

    .intro-images{
        max-width: 100%;
        height: 220px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            vertical-align: middle;
        }
        
        @media only screen and (max-width: 768px){
            &{
                height: auto;
            }
        }
    }
}

.galerry-section{
    padding-top: 60px;
    z-index: 2;
    .main-title{
        @include main-title();
    }

    .galerry-box{
        position: relative;

        &:hover .overlay{
            opacity: 1;
            visibility: visible;
        }

        &:hover .ct-icon{
            opacity: 1;
            visibility: visible;
        }

        &:hover .ct-icon a:first-child{
            animation: moveLeft .5s forwards;
        }

        &:hover .ct-icon a:last-child{
            animation: moveRight .5s forwards;
        }

        .images{
            max-width: 100%;
            height: 200px;
            position: relative;
            z-index: 1;
            overflow: hidden;
            cursor: pointer;
            @media only screen and (max-width: 768px){
                &{
                    height: auto;
                }
            }
            img{
                vertical-align: middle;
                width: 100%;
                height: 100%;
            }
        }

        .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            left: 0;
            background: rgba(255, 255, 255, 0.836);
            z-index: 2;
            transition: .3s ease-out;
            opacity: 0;
            visibility: hidden;
            cursor: pointer;
        }

        .ct-icon{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
            transition: .3s ease-out;
            opacity: 0;
            visibility: hidden;

            a{
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                color: #fff;
                background: #595858;
                transition: .3s ease-out;
                &:hover{
                    background: #90B35D;
                    color: #fff;
                }

                @keyframes moveLeft {
                    0%{
                        transform: translateX(-25px);
                        opacity: 0;
                        visibility: hidden;
                    }

                    100%{
                        transform: translateX(0px);
                        opacity: 1;
                        visibility: visible;
                    }
                }

                @keyframes moveRight {
                    0%{
                        transform: translateX(25px);
                        opacity: 0;
                        visibility: hidden;
                    }

                    100%{
                        transform: translateX(0px);
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}

.client-feed-back{
    padding-top: 54px;
    z-index: 2;
    .main-title{
        @include main-title();
        .dv-line{
            margin: 17px auto 38px auto;
        }
    }

    .container{
        border-top: 1px solid #F1F1F1;
        padding-top: 50px;
    }

    .card{
        border: none;
        background: #F4F4F4;
        padding: 23px 30px;

        .box-images{
            width: 130px;
            height: 130px;
            overflow: hidden;
            border-radius: 50%;
            margin: auto;

            img{
                width: 100%;
                height: 100%;
                vertical-align: middle;
            }
        }

        .box-text{
            .desc{
                font-size: 14px;
                font-weight: 500;
                padding-top: 16px;
            }

            .name{
                color: #D06D80;
                font-weight: 500;
                font-size: 16px;
                padding-top: 20px;
            }
        }
    }

    .owl-carousel{
        .item{
            margin-bottom: 0px;
        }
    

        &:hover .owl-nav{
            opacity: 1;
            visibility: visible;
        }
        .owl-nav{
            opacity: 1;
            visibility: visible;
            transition: .3s ease-in-out;
            margin-top: unset;
            @media only screen and (max-width: 768px){
                &{
                    opacity: 1;
                    visibility: visible;
                }
            }
            button{
                background-color: none;
                border: none;
                outline: none;
                font-size: 20px;
                z-index: 4;
                transition: .3s ease-out;
                
                
                .fa{
                    width: 30px;
                    height: 30px;
                    border: 1px solid #959596;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    color: #959596;
                    z-index: 5;
                    transition: .3s ease-out;
                    &:hover{
                        background: #90B35D;
                        color: #fff;
                    }
                }

                &.owl-prev{
                    position: absolute;
                    top: 50%;
                    left: -25px;
                    transform: translateY(-50%);
                    @media only screen and (max-width: 768px){
                        &{
                            left: -20px;
                        }
                    }
                }
    
                &.owl-next{
                    position: absolute;
                    top: 50%;
                    right: -25px;
                    transform: translateY(-50%);
                    @media only screen and (max-width: 768px){
                        &{
                            right: -20px;
                        }
                    }
                }
            }
        }
    }
    
}

.take-care-rose{
    margin-top: 54px;
    z-index: 2;
    .take-care-box{
        padding-top: 40px;
    }
    .container{
        border-top: 1px solid #F1F1F1;
        padding-top: 40px;
    }
    .main-title{
        @include main-title();
    }

    .card{
        border: none;
        margin-bottom: 25px;
        .box-images{
            max-width: 100%;
            height: 225px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                vertical-align: middle;
            }
        }

        .box-text{
            padding-top: 15px;
            .title{
                display: -webkit-box;
                font-size: 20px;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                transition: .3s ease-out;

                &:hover{
                    color: #90B35D;
                }
            }

            .date{
                font-size: 15px;
                color: #90B35D;
                padding-top: 7px;
            }

            .btn-read-more{
                display: block;
                font-size: 15px;
                font-weight: 700;
                text-transform: uppercase;
                padding-top: 12px;
                transition: .3s ease-out;
                color: #5F4D36;

                &:after{
                    content:"\f178";
                    font-family: "fontawesome";
                    padding-left: 5px;
                    color: #5F4D36;
                    transition: .3s ease-out;
                }

                &:hover:after{
                    padding-left: 15px;
                }
            }
        }
    }

    .see-all-box{
        margin: 40px auto;
        text-align: center;
        a{
            background: #90B35D;
            color: #fff;
            display: inline-block;
            padding: 4px 12px;
            transition: .3s ease-out;

            &:hover{
                background: #D06D80;
                color: #fff;
            }
        }
    }
}

// ---------------------------------------------------------------- category --------------------------------------------------------------

.main-cate{
    padding-top: 40px;
    .cate-1{
        
        .select-filter{
            select{
                height: 40px;
                border: 1px solid #DDDDDD;
                background: #fff;
                box-shadow: inset 0 -1.4em 1em 0 rgba(0,0,0,0.02);
                -webkit-appearance: none;
                -moz-appearance: none;
                background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
                background-position: right .45em top 50%;
                background-repeat: no-repeat;
                padding-right: 1.4em;
                background-size: auto 16px;
                border-radius: 0;
                padding-left: 0.74em;

                &:focus, &:active, &:visited{
                    box-shadow: 0 0 5px #ccc;
                    opacity: 1 !important;
                    outline: 0;
                    color: #333;
                }
            }
        }

        .filler-cate{
            width: 100%;
            margin-top: 20px;
            button{
                background: #fff;
            }
        }

        .overlay-f{
            position: fixed;
            width: 100vw;
            height: 100vh;
            top:0;
            left: 0;
            background: rgba(0, 0, 0, 0.445);
            z-index: 999;
            opacity: 0;
            visibility: hidden;
            transition: .3s;

            &.active-ov{
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .cate-2{
        padding-top: 30px;
        .row{
            @media only screen and (max-width:576px){
                &{
                    .has-custom-fix{
                        position: fixed;
                        top: 0;
                        left: -100vw;
                        background: #fff;
                        z-index: 9998;
                        width: 300px;
                        height: 100%;
                        padding: 25px;
                        opacity: 0;
                        visibility: hidden;
                        transition: .3s ease-out;

                        &.show-custom{
                            left: 0;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
        .list-cate-box{
            .list-cate-title{
                @include main-title();
                text-align: left;
                h1{
                    font-size: 16px;
                    text-transform: uppercase;
                }
                .dv-line{
                    width: 30px;
                    height: 2px;
                    margin: 17px 0px;
                }
            }

            .list-cates{
                li{
                    border-bottom: 1px solid #ECECEC;
                    padding: 10px 0px;
                    position: relative;
                    a{
                        font-size: 16px;
                        text-transform: uppercase;
                        display: inline-block;
                        transition: .3s;

                        &:hover{
                            color: #90B35D;
                        }

                        &.has-child{
                            position: relative;
                        }
                    }

                    .btn-drop{
                        display: block;
                        position: absolute;                       
                        top: 9.5px;
                        right: 3px;
                        cursor: pointer;
                        transition: .2s;
                        width: 20px;
                        text-align: center;

                        &::after{
                            content:"\f105";
                            font-family: "fontawesome";
                        }

                        &:hover{
                           color: #D06D80;
                        }

                        &.active{
                            transform: rotateZ(90deg);
                        }
                    }

                    .drop-child{
                        border-left: 1px solid #ECECEC;
                        height: 0;
                        overflow: hidden;
                        opacity: 0;
                        visibility: hidden;
                        transition: .4s ease-out;
                        &.show-drop{
                            height: auto;
                            opacity: 1;
                            visibility: visible;
                            transition: .4s ease-out;
                            padding-left: 15px;
                            margin-left: 10px;
                            margin-top: 6px;
                        }
                        li{
                            border-bottom: unset;
                            padding: 0px;
                            a{
                                font-size: 14px;
                                text-transform: capitalize;
                            }
                        }
                    }
                }
            }

            .search-cate{
                display: flex;
                position: relative;
                align-items: center;
                margin-top: 25px;
                input{
                    width: 100%;
                    position: relative;
                    border: 1px solid #D5D5D5;
                    border-radius: 50%;
                    border-radius: 50px;
                    outline: none;
                    padding-left: 10px;
                    z-index: 1;

                    &::placeholder{
                        font-size: 13px;
                    }
                }
                button{
                    width: 30px;
                    height: 30px;
                    border: none;
                    outline: none;
                    background: #90B35D;
                    border-radius: 50%;
                    position: absolute;
                    right: -12px;
                    color: #fff;
                    z-index: 2;
                }
            }

            .input-ranger{
                padding: 10px;
                margin-bottom: 20px;
                margin-top: 20px;
                color: #909598;

                .fil-price{
                    margin-top: 15px;
                    button{
                        background: #D06D80;
                        padding: 5px 25px;
                        color: #fff;
                        font-size: 14px;
                        border-radius: 50px;
                        transition: .3s ease-out;
                        outline: none;

                        &:hover{
                            background: #90B35D;
                        }
                    }
                }
                .list-cate-title{
                    h2{
                        font-size: 16px;
                        text-transform: uppercase;
                    }
                }
                .input-top{
                    input{
                        height: 32px;
                        -webkit-appearance: none;
                        border-radius: 0;
                        padding: 4px 8px;
                        border: 1px solid #edf2f5;
                        font-size: 13px;
                        width: 75px;
                        outline: none;
                    }
                    label{
                        font-size: 13px;
                        padding-left: 3px;
                    }
                    .minus{
                        padding:0px 10px;
                    }
                }
                .price-text{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-top: 15px;
                    span{
                        font-size: 10px;
                        color: #46aaf2;
                        display: block;
                    }
                    span:first-child{
                        margin-left:-5px;
                    }
                    span:last-child{
                        margin-right:-15px;
                    }
                }
                .ranger-content{
                    margin-top: 15px;
                }
                .ui-widget.ui-widget-content{
                    border:0;
                }
                .ui-widget-header{
                    background: #D06D90;
                }
                .ui-widget-content{
                    border: 1px solid #ccdae3;
                    background: #ecf0f1;
                }
                .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
                    font-weight: normal;
                    color: #454545;
                    border-radius: 50%;
                    width: 24px;
                    height: 24px;
                    top: -7px;
                    margin: 0px -13px;
                    background: #90B35D;
                    outline: none;
                }
            }
        }

        .list-product{
            .row{
                &.no-gutters>[class*=col-]{
                    padding-left: 10px;
                    padding-right: 10px;
                }

                &.no-gutters{
                    margin-right: -10px;
                    margin-left: -10px;
                }
            }
        }
    }

}

// ------------------------------------------------------------------- product-detail -----------------------------------------------------

.bread-cumb{
    margin-top: 30px;
}

.infor-product{
    .product-galerry{
        img{
            width: 100%;
            height: 100%;
            object-fit: fill;
        }

        .slider-for{
            -webkit-box-shadow: 0px 2px 16px 1px rgba(233,236,239,0.61); 
            box-shadow: 0px 2px 16px 1px rgba(233,236,239,0.61);
            &:hover .slick-prev{
                opacity: 1;
                visibility: visible;
            }

            &:hover .slick-next{
                opacity: 1;
                visibility: visible;
            }
            .item{
                height: 385px;
                cursor: pointer;
            }
            .slick-prev{
                left: 0;
                z-index: 99;
                opacity: 0;
                visibility: hidden;
                transition: .3s ease-out;
                &:before{
                    content:"\f104";
                    font-family: "fontawesome";
                    color: #000;
                }
            }
    
            .slick-next{          
                right: 0;
                z-index: 99;
                opacity: 0;
                visibility: hidden;
                transition: .3s ease-out;
                &:before{
                    content:"\f105";
                    font-family: "fontawesome";
                    color: #000;
                }
            }
        }

        .slider-nav{
            background-color: rgba(246, 247, 248, 0.753);
            margin-top: 16px;
            &:hover .slick-prev{
                opacity: 1;
                visibility: visible;
            }

            &:hover .slick-next{
                opacity: 1;
                visibility: visible;
            }
            .item{               
                cursor: pointer;
                height: 100%;
                img{
                    border: 1px solid rgba(246, 247, 248, 0.753);
                    padding: 0px 5px;
                }
            }
            .slick-prev{
                background: rgba(188, 189, 192, 0.699);
                height: 100%;
                left: 0;
                z-index: 99;
                opacity: 0;
                visibility: hidden;
                transition: .3s ease-out;
                &:before{
                    content:"\f104";
                    font-family: "fontawesome";
                    color: #000;
                }
            }

            .slick-next{
                background: rgba(188, 189, 192, 0.699);
                height: 100%;
                right: 0;
                z-index: 99;
                opacity: 0;
                visibility: hidden;
                transition: .3s ease-out;
                &:before{
                    content:"\f105";
                    font-family: "fontawesome";
                    color: #000;
                }
            }
        }
        
    }

    .infor-shop{
        text-align: center;
        padding-top: 15px;

        h4{
            text-transform: uppercase;
            font-size: 14px;
            line-height: 24px;
        }
    }

    .exceprt-product{
        .product-title{
            padding-bottom: 20px;
            border-bottom: 2px solid #D06D80;
            h1{
                font-size: 28px;
                color: #D06D80;
                line-height: 40px;
            }
        }

        .price-product{
            .price{
                font-size: 17px;
                font-weight: 700;
                padding-top: 17px;
                font-weight: 700;
                display: flex;
                flex-wrap: wrap;
                padding-top: 25px;
                color: #90B35D;
            }
            ins{
                margin-left: 10px;
                text-decoration: none;
            }
        }

        .short-descrip{
            border-bottom: 1px solid #E3E3E4;
            border-top: 1px solid #E3E3E4;
            padding: 25px 0px;
            margin-top: 25px;
        }

        .add-to-cart-box{
            padding-top: 30px;
            display: flex;
            .btn-cart-box {
                background: #D06D80;
                font-size: 14px;
                font-weight: 700;
                padding: 8px 40px;
                text-transform: uppercase;
                border-radius: 5px;
                color: #fff;
                &.buy-now{
                    margin-right: 24px;
                }

                &.hire-tree{
                    background: #90B35D;
                }
                
                @media only screen and (max-width: 768px){
                    &{
                        flex: 1;
                        padding: 8px 0px;
                    }
                    &.buy-now{
                        margin-right: 15px;
                    }
                }

                
            }
        }

    }
}

.product-tabs{
    padding-top: 40px;
    .tabs-box{
        .tabs-title{
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            
            h3{
                border-bottom: 2px solid #90B35D;
                padding-bottom: 10px;
                span{
                    border-bottom: 2px solid #D06D80;
                    padding-bottom: 10px;
                }
            }
        }

        .content{
            padding-top: 20px;
        }
    }
}

.related-product{
    margin-top: 40px;
    .tabs-title{
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 30px;
        
        h3{
            border-bottom: 2px solid #90B35D;
            padding-bottom: 10px;
            span{
                border-bottom: 2px solid #D06D80;
                padding-bottom: 10px;
            }
        }
    }

    .row{
        &.no-gutters>[class*=col-]{
            padding-left: 10px;
            padding-right: 10px;
        }

        &.no-gutters{
            margin-right: -10px;
            margin-left: -10px;
        }
    }

}

.form-pop-up{
    .container{
        max-width: 650px;
        background: #fff;
        padding: 30px;
        position: fixed;
        height: auto;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
        transition: .3s ease-out;
        display: none;

        @media only screen and (max-width: 576px){
            &{
                max-width: 300px;
                background: #fff;
                padding: 15px;
                position: fixed;
                top: 100%;
                left: 50%;
                transform: translate(-50%, -35%);
                z-index: 99;
                transition: .3s ease-out;
            }
        }

        &.show-up{
            display: block;
            animation: show-form .3s forwards;
        }
    }

    .overlay-pop-up{
        position: fixed;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        background: rgba(0, 0, 0, 0.514);
        z-index: 98;
        transition: .3s ease-out;
        display: none;

        &.show-pop-ovl{
            display: block;
            animation: fade-ovl .3s forwards;
        }

        @keyframes fade-ovl {
            0%{
                opacity: 0;
                visibility: hidden;
            }

            100%{
                opacity: 1;
                visibility: visible;
            }
        }
    }

    

   @keyframes show-form {
       0%{ 
            top: 30%;
            opacity: 0;
            visibility: hidden;
       }
       100%{
            top: 40%;
            opacity: 1;
            visibility: visible;
        }
   }
   

   label{
       font-size: 20px;
       color: #D06D80;
       display: block;
       margin-bottom: 20px;
   }

    input{
        width: 100%;
        border: 1px solid #90B35D;
        height: 40px;
        margin-bottom: 15px;
        outline: none;
        padding-left: 10px;

        &:active, &:visited, &:focus{
            border: 1px solid #D06D80;
        }
    }
    textarea{
        width: 100%;
        border: 1px solid #90B35D;
        outline: none;
        padding-left: 10px;
        &:active, &:visited, &:focus{
            border: 1px solid #D06D80;
        }
    }

    button{
        display: block;
        margin: 15px auto 0px auto;
        padding: 10px 20px;
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        background: #D06D80;
        transition: .3s ease-out;

        &:hover{
            background: #90B35D;
        }
    }
}

// ---------------------------------------------------------------- custom pages -----------------------------------------------------------


.main-contact{
    .contact-info{
        p{
            font-size: 14px;
            position: relative;
            margin-bottom: 17px;
            
            span{
                position: relative;
                display: block;
                padding-left: 33px;
            }

            &:before{
                color: #ffff;
                background: #90B35D;
                position: absolute;
                width: 25px;
                height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 2px;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                font-family: "fontawesome";
            }

            &:nth-child(1):before{
                content:"\f041";           
            }

            &:nth-child(2):before{
                content:"\f0e0";
            }

            &:nth-child(3):before{
                content:"\f0ac";
            }
        }
    }

    .contact-title{
        margin-bottom: 25px;
        h1, h2{
            font-size: 20px;
            font-weight: 700;
            color: #90B35D;
        }
        @media only screen and (max-width: 576px){
            &{
                margin-top: 20px;
            }
        }
    }

    .content-contact{
        margin-top: 15px;
        p{
            font-size: 14px;
        }
    }
}

.title-bg{
    .jumbotron{
        background-image: url('../images/bg1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 2;
        margin-bottom: unset;

        &:after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 3;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.466);
        }

        .display-4{
            z-index: 4;
            color: #fff;
            font-size: 20px;
            display: block;
            text-align: center;
            position: relative;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
}

.list-blogs-cate{
    margin-top: 45px;
    .tabs-title{
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
        
        h3{
            border-bottom: 2px solid #90B35D;
            padding-bottom: 10px;
            span{
                border-bottom: 2px solid #D06D80;
                padding-bottom: 10px;
            }
        }
    }
    .list-blogs{
        .media{
            border-bottom: 1px solid #D06D80;
            padding: 15px 0px;
            &:last-child{
                border-bottom: unset;
            }
            .images-box{
                max-width: 320px;
                height: 210px;
                flex: 0 0 42%;
                overflow: hidden;

                @media only screen and (max-width: 576px){
                    &{
                        height: auto;
                    }
                }

                &:hover img{
                    transform: scale(1.1);
                }

                img{
                    width: 100%;
                    height: 100%;
                    vertical-align: middle;
                    object-fit: cover;
                    transition: .3s ease-out;
                }
            }

            .box-text{
                flex: 0 0 56%;
                margin-left: 20px;

                .title{
                    a{
                        font-size: 20px;
                        font-weight: 700;
                        transition: .3s ease-out;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        &:hover{
                            color: #90B35D;
                        }
                    }
                }

                .desc{
                    padding-top: 15px;
                    p{
                        display: -webkit-box;
                        font-size: 14px;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        height: 62px;
                        color: #939393;
                    }
                }

                .date{
                    padding-top: 15px;
                    p{
                        color: #939393;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .pages{
        margin-top: 25px;
    }
}

.widget-right{
    @media only screen and (max-width: 576px){
        &{
            margin-top: 25px;
        }
    }
    .tabs-title{
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
        
        h3{
            border-bottom: 2px solid #90B35D;
            padding-bottom: 10px;
            span{
                border-bottom: 2px solid #D06D80;
                padding-bottom: 10px;
            }
        }
    }
    .search-cate{
        display: flex;
        position: relative;
        align-items: center;
        margin-top: 25px;
        input{
            width: 100%;
            position: relative;
            border: 1px solid #D5D5D5;
            border-radius: 50%;
            border-radius: 50px;
            outline: none;
            padding-left: 10px;
            z-index: 1;

            &::placeholder{
                font-size: 13px;
            }
        }
        button{
            width: 30px;
            height: 30px;
            border: none;
            outline: none;
            background: #90B35D;
            border-radius: 50%;
            position: absolute;
            right: -12px;
            color: #fff;
            z-index: 2;
        }
    }

    .news-blog{
        margin-top: 50px;
    }

    .media{
        margin-bottom: 20px;
        .images-box{
            flex: 0 0 40%;
            max-width: 100%;
            overflow: hidden;

            img{
                vertical-align: middle;
                width: 100%;
                transition: .3s ease-out;
            }

            &:hover img{
                transform: scale(1.1);
            }

            @media only screen and (max-width: 576px){
                &{
                    height: auto;
                }
            }
        }

        .box-text{
            flex: 0 0 56%;
            margin-left: 17px;

            .title{
                a{
                    font-size: 17px;
                    font-weight: 700;
                    transition: .3s ease-out;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &:hover{
                        color: #90B35D;
                    }
                }
            }
        }
    }
}

.main-detail{
    margin-top: 45px;
    .tabs-title{
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
        
        h3{
            border-bottom: 2px solid #90B35D;
            padding-bottom: 10px;
            span{
                border-bottom: 2px solid #D06D80;
                padding-bottom: 10px;
            }
        }
    }

    .related-blogs{
        margin-top: 50px;
    }

    .card{
        border: none;
        margin-bottom: 25px;
        .images-box{
            max-width: 100%;
            height: 200px;
            overflow: hidden;
            @media only screen and (max-width: 576px){
                &{
                    height: 270px;
                }
            }

            img{
                width: 100%;
                height: 100%;
                vertical-align: middle;
                transition: .3s ease-out;
            }

            &:hover img{
                transform: scale(1.1);
            }
        }

        .box-text{
            padding-top: 15px;

            .title{
                a{
                    font-size: 16px;
                    font-weight: 700;
                    transition: .3s ease-out;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &:hover{
                        color: #90B35D;
                    }
                }
            }
        }
    }
}
