#footer {
  padding-top: 43px;
  border-top: 8px solid #D06D80;
  margin-top: 50px; }
  #footer .logo-ft {
    max-width: 290px; }
  #footer .row .col-12:nth-child(2) {
    padding-left: 140px; }
  #footer .row .col-12:nth-child(3) {
    padding-left: 140px; }
  @media only screen and (max-width: 768px) {
    #footer .row .col-12:nth-child(2) {
      padding-left: 50px; }
    #footer .row .col-12:nth-child(3) {
      padding-left: 15px; } }
  @media only screen and (max-width: 576px) {
    #footer .row .col-12:nth-child(2) {
      padding-left: 15px; }
    #footer .row .col-12:nth-child(3) {
      padding-left: 15px; } }
  #footer .box-follow a {
    display: inline-flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background: #90B35D;
    border-radius: 5px;
    margin-right: 10px;
    transition: .3s ease-out;
    color: #fff; }
    #footer .box-follow a:last-child {
      margin-right: unset; }
    #footer .box-follow a:hover {
      background: #D06D80; }
  #footer .contact-info p {
    font-size: 13px;
    position: relative;
    margin-bottom: 17px; }
    #footer .contact-info p span {
      position: relative;
      display: block;
      padding-left: 33px; }
    #footer .contact-info p:before {
      color: #ffff;
      background: #90B35D;
      position: absolute;
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-family: "fontawesome"; }
    #footer .contact-info p:nth-child(1):before {
      content: "\f041"; }
    #footer .contact-info p:nth-child(2):before {
      content: "\f0e0"; }
    #footer .contact-info p:nth-child(3):before {
      content: "\f0ac"; }
  #footer .ft-title {
    padding: 25px 0px; }
    #footer .ft-title h3 {
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase; }
  #footer .box-links ul li a {
    font-size: 14px;
    transition: .3s ease-out;
    line-height: 30px; }
    #footer .box-links ul li a:hover {
      color: #90B35D; }
  #footer .end-ft {
    border-top: 1px solid #E3E3E4;
    padding: 12px 0px;
    text-align: center;
    margin-top: 25px; }
    #footer .end-ft p {
      font-size: 14px; }
  #footer a.cd-top {
    display: inline-block;
    height: 35px;
    width: 35px;
    position: fixed;
    bottom: 360px;
    right: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #D06D80 url("../images_icon/back2.png") no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    z-index: 999;
    border-radius: 5px; }
  #footer a.cd-top.cd-is-visible, #footer a.cd-top.cd-fade-out, #footer .no-touch a.cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s; }
  #footer a.cd-top, #footer a.cd-top:visited, #footer a.cd-top:hover {
    color: #CCCCCC;
    text-decoration: none; }
  #footer a.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1; }
  #footer a.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: 1; }

/*# sourceMappingURL=footer.css.map */
