#header .top-bar {
  background: #90B35D;
  padding: 10px 0px; }
  #header .top-bar.off-top-bar {
    display: none; }
  #header .top-bar .contact {
    display: flex;
    align-items: center; }
    #header .top-bar .contact a {
      font-size: 13px;
      color: #fff;
      transition: .3s ease-out; }
      #header .top-bar .contact a:hover {
        color: #4D4D4D; }
    #header .top-bar .contact .hot-line {
      margin-right: 25px; }
      #header .top-bar .contact .hot-line a:before {
        content: "\f095";
        font-family: "fontawesome";
        padding-right: 3.5px; }
    #header .top-bar .contact .mail a:before {
      content: "\f0e0";
      font-family: "fontawesome";
      padding-right: 3.5px; }
  #header .top-bar .cart-hd {
    margin-left: 15px; }
    #header .top-bar .cart-hd a {
      font-size: 16px;
      color: #fff;
      transition: .3s ease-out; }
      #header .top-bar .cart-hd a:hover {
        color: #D27385; }
      #header .top-bar .cart-hd a span {
        font-size: 13px; }
#header .header-main.fixed-stuck {
  position: fixed;
  top: 0px;
  width: 100%;
  background: #fff;
  animation: fade_stuck 1.6s forwards;
  z-index: 999;
  -webkit-box-shadow: 0px 1px 6px 1px rgba(238, 238, 238, 0.88);
  box-shadow: 0px 1px 6px 1px rgba(238, 238, 238, 0.88); }
@keyframes fade_stuck {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }
#header .header-main .container {
  padding: 10px 0px; }
#header .header-main .logo {
  max-width: 174px; }
  #header .header-main .logo img {
    width: 100%;
    height: auto;
    vertical-align: middle; }
#header .header-main .main-nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  #header .header-main .main-nav ul li {
    margin-right: 25px; }
    #header .header-main .main-nav ul li a {
      font-size: 15px;
      font-weight: 500;
      transition: .3s ease-out;
      line-height: 40px;
      display: block; }
      #header .header-main .main-nav ul li a:hover {
        color: #90B35D; }
    #header .header-main .main-nav ul li:first-child a {
      font-size: 20px; }
    #header .header-main .main-nav ul li:last-child {
      margin-right: unset; }
    #header .header-main .main-nav ul li.has-child {
      position: relative; }
      #header .header-main .main-nav ul li.has-child a:after {
        content: "\f107";
        font-family: "fontawesome";
        padding-left: 5px;
        font-size: 14px; }
      #header .header-main .main-nav ul li.has-child:hover ul {
        opacity: 1;
        visibility: visible; }
      #header .header-main .main-nav ul li.has-child ul {
        flex-direction: column;
        position: absolute;
        width: 130px;
        background: #fff;
        align-items: flex-start;
        transition: .45s ease-out;
        padding: 10px 0px 10px 15px;
        -webkit-box-shadow: 0px 1px 15px 1px rgba(213, 213, 213, 0.46);
        box-shadow: 0px 1px 15px 1px rgba(213, 213, 213, 0.46);
        z-index: 15;
        opacity: 0;
        visibility: hidden; }
        #header .header-main .main-nav ul li.has-child ul li {
          margin-right: unset; }
          #header .header-main .main-nav ul li.has-child ul li a {
            font-size: 14px;
            line-height: 26px; }
            #header .header-main .main-nav ul li.has-child ul li a:after {
              display: none; }
#header .header-main .search-hd form {
  display: flex;
  position: relative;
  align-items: center; }
  #header .header-main .search-hd form input {
    width: 100%;
    position: relative;
    border: 1px solid #D5D5D5;
    border-radius: 50%;
    border-radius: 50px;
    outline: none;
    padding-left: 10px;
    z-index: 1; }
    #header .header-main .search-hd form input::placeholder {
      font-size: 13px; }
  #header .header-main .search-hd form button {
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background: #90B35D;
    border-radius: 50%;
    position: absolute;
    right: -12px;
    color: #fff;
    z-index: 2; }

.moblie-bar button {
  background: none;
  font-size: 20px; }

.search-mb-box {
  position: absolute;
  right: 15px; }
  .search-mb-box button {
    background: none;
    font-size: 20px; }

.box-search_header {
  position: fixed;
  top: 30%;
  left: 50%;
  transition: .3s ease-in-out;
  animation: show_box_hd .5s forwards;
  text-align: center;
  z-index: 9999;
  display: none; }
  .box-search_header.active_show {
    display: block; }
@keyframes show_box_hd {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(0.7); }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1); } }
  .box-search_header label {
    font-size: 35px;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 20px;
    color: #fff; }
  .box-search_header form {
    display: flex; }
    @media only screen and (max-width: 768px) {
      .box-search_header form {
        width: 80vw; } }
    .box-search_header form input {
      border: none;
      outline: none;
      width: 400px;
      height: 40px;
      padding-left: 10px; }
      @media only screen and (max-width: 768px) {
        .box-search_header form input {
          width: 100%; } }
    .box-search_header form button {
      width: 40px;
      background: #90B35D;
      color: #fff; }

.over-lay-mb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8);
  z-index: 9995;
  display: none; }
  .over-lay-mb.overlay-open {
    display: block; }

/*# sourceMappingURL=header.css.map */
