html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto;
  object-fit: cover; }
  @media only screen and (max-width: 768px) {
    img {
      object-fit: fill; } }

@media only screen and (max-width) {
  html {
    overflow-x: hidden; } }
button {
  cursor: pointer;
  border: none;
  outline: none; }

a {
  color: black; }

a:hover {
  text-decoration: none; }

.owl-carousel .item {
  margin-bottom: 10px; }
.owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
  background: unset; }
.owl-carousel.owl-theme .owl-dots .owl-dot {
  outline: none; }
  .owl-carousel.owl-theme .owl-dots .owl-dot.active span {
    background-color: #343A40; }
  .owl-carousel.owl-theme .owl-dots .owl-dot span {
    margin: 5px 5px;
    background: #FFFFFF; }
    .owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
      background-color: #343A40; }
.owl-carousel:hover .owl-nav {
  opacity: 1;
  visibility: visible; }
.owl-carousel .owl-nav {
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out;
  margin-top: unset; }
  @media only screen and (max-width: 768px) {
    .owl-carousel .owl-nav {
      opacity: 1;
      visibility: visible; } }
  .owl-carousel .owl-nav button {
    background-color: none;
    border: none;
    outline: none;
    font-size: 50px;
    z-index: 4; }
    .owl-carousel .owl-nav button.owl-prev {
      position: absolute;
      top: 50%;
      left: -25px;
      font-size: 50px;
      transform: translateY(-50%); }
      @media only screen and (max-width: 768px) {
        .owl-carousel .owl-nav button.owl-prev {
          left: -20px; } }
    .owl-carousel .owl-nav button.owl-next {
      position: absolute;
      top: 50%;
      right: -25px;
      font-size: 50px;
      transform: translateY(-50%); }
      @media only screen and (max-width: 768px) {
        .owl-carousel .owl-nav button.owl-next {
          right: -20px; } }

/*# sourceMappingURL=reset.css.map */
