@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
@media only screen and (max-width: 768px) {
  img {
    object-fit: fill;
  }
}

@media only screen and (max-width) {
  html {
    overflow-x: hidden;
  }
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

.owl-carousel .item {
  margin-bottom: 10px;
}
.owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
  background: unset;
}
.owl-carousel.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.owl-carousel.owl-theme .owl-dots .owl-dot.active span {
  background-color: #343A40;
}
.owl-carousel.owl-theme .owl-dots .owl-dot span {
  margin: 5px 5px;
  background: #FFFFFF;
}
.owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
  background-color: #343A40;
}
.owl-carousel:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}
.owl-carousel .owl-nav {
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out;
  margin-top: unset;
}
@media only screen and (max-width: 768px) {
  .owl-carousel .owl-nav {
    opacity: 1;
    visibility: visible;
  }
}
.owl-carousel .owl-nav button {
  background-color: none;
  border: none;
  outline: none;
  font-size: 50px;
  z-index: 4;
}
.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  left: -25px;
  font-size: 50px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .owl-carousel .owl-nav button.owl-prev {
    left: -20px;
  }
}
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  right: -25px;
  font-size: 50px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .owl-carousel .owl-nav button.owl-next {
    right: -20px;
  }
}

#header .top-bar {
  background: #90B35D;
  padding: 10px 0px;
}
#header .top-bar.off-top-bar {
  display: none;
}
#header .top-bar .contact {
  display: flex;
  align-items: center;
}
#header .top-bar .contact a {
  font-size: 13px;
  color: #fff;
  transition: .3s ease-out;
}
#header .top-bar .contact a:hover {
  color: #4D4D4D;
}
#header .top-bar .contact .hot-line {
  margin-right: 25px;
}
#header .top-bar .contact .hot-line a:before {
  content: "\f095";
  font-family: "fontawesome";
  padding-right: 3.5px;
}
#header .top-bar .contact .mail a:before {
  content: "\f0e0";
  font-family: "fontawesome";
  padding-right: 3.5px;
}
#header .top-bar .cart-hd {
  margin-left: 15px;
}
#header .top-bar .cart-hd a {
  font-size: 16px;
  color: #fff;
  transition: .3s ease-out;
}
#header .top-bar .cart-hd a:hover {
  color: #D27385;
}
#header .top-bar .cart-hd a span {
  font-size: 13px;
}
#header .header-main.fixed-stuck {
  position: fixed;
  top: 0px;
  width: 100%;
  background: #fff;
  animation: fade_stuck 1.6s forwards;
  z-index: 999;
  -webkit-box-shadow: 0px 1px 6px 1px rgba(238, 238, 238, 0.88);
  box-shadow: 0px 1px 6px 1px rgba(238, 238, 238, 0.88);
}
@keyframes fade_stuck {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
#header .header-main .container {
  padding: 10px 0px;
}
#header .header-main .logo {
  max-width: 174px;
}
#header .header-main .logo img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
#header .header-main .main-nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#header .header-main .main-nav ul li {
  margin-right: 25px;
}
#header .header-main .main-nav ul li a {
  font-size: 15px;
  font-weight: 500;
  transition: .3s ease-out;
  line-height: 40px;
  display: block;
}
#header .header-main .main-nav ul li a:hover {
  color: #90B35D;
}
#header .header-main .main-nav ul li:first-child a {
  font-size: 20px;
}
#header .header-main .main-nav ul li:last-child {
  margin-right: unset;
}
#header .header-main .main-nav ul li.has-child {
  position: relative;
}
#header .header-main .main-nav ul li.has-child a:after {
  content: "\f107";
  font-family: "fontawesome";
  padding-left: 5px;
  font-size: 14px;
}
#header .header-main .main-nav ul li.has-child:hover ul {
  opacity: 1;
  visibility: visible;
}
#header .header-main .main-nav ul li.has-child ul {
  flex-direction: column;
  position: absolute;
  width: 130px;
  background: #fff;
  align-items: flex-start;
  transition: .45s ease-out;
  padding: 10px 0px 10px 15px;
  -webkit-box-shadow: 0px 1px 15px 1px rgba(213, 213, 213, 0.46);
  box-shadow: 0px 1px 15px 1px rgba(213, 213, 213, 0.46);
  z-index: 15;
  opacity: 0;
  visibility: hidden;
}
#header .header-main .main-nav ul li.has-child ul li {
  margin-right: unset;
}
#header .header-main .main-nav ul li.has-child ul li a {
  font-size: 14px;
  line-height: 26px;
}
#header .header-main .main-nav ul li.has-child ul li a:after {
  display: none;
}
#header .header-main .search-hd form {
  display: flex;
  position: relative;
  align-items: center;
}
#header .header-main .search-hd form input {
  width: 100%;
  position: relative;
  border: 1px solid #D5D5D5;
  border-radius: 50%;
  border-radius: 50px;
  outline: none;
  padding-left: 10px;
  z-index: 1;
}
#header .header-main .search-hd form input::placeholder {
  font-size: 13px;
}
#header .header-main .search-hd form button {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background: #90B35D;
  border-radius: 50%;
  position: absolute;
  right: -12px;
  color: #fff;
  z-index: 2;
}

.moblie-bar button {
  background: none;
  font-size: 20px;
}

.search-mb-box {
  position: absolute;
  right: 15px;
}
.search-mb-box button {
  background: none;
  font-size: 20px;
}

.box-search_header {
  position: fixed;
  top: 30%;
  left: 50%;
  transition: .3s ease-in-out;
  animation: show_box_hd .5s forwards;
  text-align: center;
  z-index: 9999;
  display: none;
}
.box-search_header.active_show {
  display: block;
}
@keyframes show_box_hd {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(0.7);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }
}
.box-search_header label {
  font-size: 35px;
  font-weight: 700;
  text-transform: capitalize;
  padding-bottom: 20px;
  color: #fff;
}
.box-search_header form {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .box-search_header form {
    width: 80vw;
  }
}
.box-search_header form input {
  border: none;
  outline: none;
  width: 400px;
  height: 40px;
  padding-left: 10px;
}
@media only screen and (max-width: 768px) {
  .box-search_header form input {
    width: 100%;
  }
}
.box-search_header form button {
  width: 40px;
  background: #90B35D;
  color: #fff;
}

.over-lay-mb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8);
  z-index: 9995;
  display: none;
}
.over-lay-mb.overlay-open {
  display: block;
}

#footer {
  padding-top: 43px;
  border-top: 8px solid #D06D80;
  margin-top: 50px;
}
#footer .logo-ft {
  max-width: 290px;
}
#footer .row .col-12:nth-child(2) {
  padding-left: 140px;
}
#footer .row .col-12:nth-child(3) {
  padding-left: 140px;
}
@media only screen and (max-width: 768px) {
  #footer .row .col-12:nth-child(2) {
    padding-left: 50px;
  }
  #footer .row .col-12:nth-child(3) {
    padding-left: 15px;
  }
}
@media only screen and (max-width: 576px) {
  #footer .row .col-12:nth-child(2) {
    padding-left: 15px;
  }
  #footer .row .col-12:nth-child(3) {
    padding-left: 15px;
  }
}
#footer .box-follow a {
  display: inline-flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background: #90B35D;
  border-radius: 5px;
  margin-right: 10px;
  transition: .3s ease-out;
  color: #fff;
}
#footer .box-follow a:last-child {
  margin-right: unset;
}
#footer .box-follow a:hover {
  background: #D06D80;
}
#footer .contact-info p {
  font-size: 13px;
  position: relative;
  margin-bottom: 17px;
}
#footer .contact-info p span {
  position: relative;
  display: block;
  padding-left: 33px;
}
#footer .contact-info p:before {
  color: #ffff;
  background: #90B35D;
  position: absolute;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-family: "fontawesome";
}
#footer .contact-info p:nth-child(1):before {
  content: "\f041";
}
#footer .contact-info p:nth-child(2):before {
  content: "\f0e0";
}
#footer .contact-info p:nth-child(3):before {
  content: "\f0ac";
}
#footer .ft-title {
  padding: 25px 0px;
}
#footer .ft-title h3 {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
#footer .box-links ul li a {
  font-size: 14px;
  transition: .3s ease-out;
  line-height: 30px;
}
#footer .box-links ul li a:hover {
  color: #90B35D;
}
#footer .end-ft {
  border-top: 1px solid #E3E3E4;
  padding: 12px 0px;
  text-align: center;
  margin-top: 25px;
}
#footer .end-ft p {
  font-size: 14px;
}
#footer a.cd-top {
  display: inline-block;
  height: 35px;
  width: 35px;
  position: fixed;
  bottom: 360px;
  right: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #D06D80 url("../images_icon/back2.png") no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  z-index: 999;
  border-radius: 5px;
}
#footer a.cd-top.cd-is-visible, #footer a.cd-top.cd-fade-out, #footer .no-touch a.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
#footer a.cd-top, #footer a.cd-top:visited, #footer a.cd-top:hover {
  color: #CCCCCC;
  text-decoration: none;
}
#footer a.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
#footer a.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1;
}

html.hc-nav-yscroll {
  overflow-y: scroll;
}

body.hc-nav-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  min-height: 100%;
}

.hc-offcanvas-nav {
  visibility: hidden;
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 9999;
}

.hc-offcanvas-nav.is-ios * {
  cursor: pointer !important;
}

.hc-offcanvas-nav .nav-container {
  position: fixed;
  z-index: 9998;
  top: 0;
  width: 280px;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  transition: transform .4s ease;
}

.hc-offcanvas-nav .nav-wrapper {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overscroll-behavior: none;
  box-sizing: border-box;
}

.hc-offcanvas-nav .nav-content {
  height: 100%;
  max-height: 100vh;
}

.hc-offcanvas-nav .nav-wrapper-0 > .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hc-offcanvas-nav li {
  position: relative;
  display: block;
}

.hc-offcanvas-nav li.level-open > .nav-wrapper {
  visibility: visible;
}

.hc-offcanvas-nav input[type="checkbox"] {
  display: none;
}

.hc-offcanvas-nav label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  cursor: pointer;
}

.hc-offcanvas-nav a {
  position: relative;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
}

.hc-offcanvas-nav a,
.hc-offcanvas-nav a:hover {
  text-decoration: none;
}

.hc-offcanvas-nav.disable-body::after,
.hc-offcanvas-nav .nav-wrapper::after {
  content: '';
  position: fixed;
  z-index: 9990;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease .4s, opacity .4s ease;
}

.hc-offcanvas-nav.disable-body.nav-open::after,
.hc-offcanvas-nav .sub-level-open::after {
  visibility: visible;
  opacity: 1;
  transition-delay: .05s;
}

.hc-offcanvas-nav:not(.nav-open)::after {
  pointer-events: none;
}

.hc-offcanvas-nav.nav-levels-expand .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav.nav-levels-expand .nav-wrapper::after {
  display: none;
}

.hc-offcanvas-nav.nav-levels-expand ul .nav-wrapper {
  min-width: 0;
  max-height: 0;
  overflow: hidden;
  transition: height 0s ease .4s;
}

.hc-offcanvas-nav.nav-levels-expand .level-open > .nav-wrapper {
  max-height: none;
}

.hc-offcanvas-nav.nav-levels-overlap .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav.nav-levels-overlap ul .nav-wrapper {
  position: absolute;
  z-index: 9999;
  top: 0;
  height: 100%;
  visibility: hidden;
  transition: visibility 0s ease .4s, transform .4s ease;
}

.hc-offcanvas-nav.nav-levels-overlap ul li.nav-parent {
  position: static;
}

.hc-offcanvas-nav.nav-levels-overlap ul li.level-open > .nav-wrapper {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: transform .4s ease;
}

.hc-offcanvas-nav.nav-position-left {
  left: 0;
}

.hc-offcanvas-nav.nav-position-left .nav-container {
  left: 0;
  transform: translate3d(-280px, 0, 0);
}

.hc-offcanvas-nav.nav-position-left.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(-100%, 0, 0);
}

.hc-offcanvas-nav.nav-position-right {
  right: 0;
}

.hc-offcanvas-nav.nav-position-right .nav-container {
  right: 0;
  transform: translate3d(280px, 0, 0);
}

.hc-offcanvas-nav.nav-position-right.nav-levels-overlap li .nav-wrapper {
  right: 0;
  transform: translate3d(100%, 0, 0);
}

.hc-offcanvas-nav.nav-position-top {
  top: 0;
}

.hc-offcanvas-nav.nav-position-top .nav-container {
  top: 0;
  width: 100%;
  height: auto;
  transform: translate3d(0, -100%, 0);
}

.hc-offcanvas-nav.nav-position-top.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(0, -100%, 0);
}

.hc-offcanvas-nav.nav-position-bottom {
  top: auto;
  bottom: 0;
}

.hc-offcanvas-nav.nav-position-bottom .nav-container {
  top: auto;
  bottom: 0;
  width: 100%;
  height: auto;
  transform: translate3d(0, 100%, 0);
}

.hc-offcanvas-nav.nav-position-bottom.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(0, 100%, 0);
}

.hc-offcanvas-nav.nav-open[class*='hc-nav-'] div.nav-container {
  transform: translate3d(0, 0, 0);
}

.hc-nav-trigger {
  position: absolute;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  top: 20px;
  left: 15px;
  z-index: 9980;
  width: 30px;
  min-height: 24px;
}

.hc-nav-trigger span {
  width: 30px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transform-origin: 50% 50%;
}

.hc-nav-trigger span,
.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
  display: block;
  position: absolute;
  left: 0;
  height: 4px;
  background: #34495E;
  transition: all .2s ease;
}

.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
  content: '';
  width: 100%;
}

.hc-nav-trigger span::before {
  top: -10px;
}

.hc-nav-trigger span::after {
  bottom: -10px;
}

.hc-nav-trigger.toggle-open span {
  background: rgba(0, 0, 0, 0);
  transform: rotate(45deg);
}

.hc-nav-trigger.toggle-open span::before {
  transform: translate3d(0, 10px, 0);
}

.hc-nav-trigger.toggle-open span::after {
  transform: rotate(-90deg) translate3d(10px, 0, 0);
}

.hc-offcanvas-nav::after,
.hc-offcanvas-nav .nav-wrapper::after {
  background: rgba(0, 0, 0, 0.3);
}

.hc-offcanvas-nav .nav-container,
.hc-offcanvas-nav .nav-wrapper,
.hc-offcanvas-nav ul {
  background: #336ca6;
}

.hc-offcanvas-nav h2 {
  font-size: 19px;
  font-weight: normal;
  text-align: left;
  padding: 20px 17px;
  color: #1b3958;
}

.hc-offcanvas-nav a {
  padding: 14px 17px;
  font-size: 15px;
  color: #fff;
  z-index: 1;
  background: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #2c5d8f;
}

.hc-offcanvas-nav:not(.touch-device) a:hover {
  background: #90B35D;
}

.hc-offcanvas-nav ul:first-of-type:not(:first-child) > li:first-child:not(.nav-back):not(.nav-close) > a {
  border-top: 1px solid #2c5d8f;
  margin-top: -1px;
}

.hc-offcanvas-nav li {
  text-align: left;
}

.hc-offcanvas-nav li.nav-close a,
.hc-offcanvas-nav li.nav-back a {
  background: #2c5d8f;
  border-top: 1px solid #295887;
  border-bottom: 1px solid #295887;
}

.hc-offcanvas-nav li.nav-close a:hover,
.hc-offcanvas-nav li.nav-back a:hover {
  background: #90B35D;
}

.hc-offcanvas-nav li.nav-parent a {
  padding-right: 58px;
}

.hc-offcanvas-nav li.nav-close span,
.hc-offcanvas-nav li.nav-parent span.nav-next,
.hc-offcanvas-nav li.nav-back span {
  width: 45px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  cursor: pointer;
  transition: background .2s ease;
}

.hc-offcanvas-nav li.nav-close span::before,
.hc-offcanvas-nav li.nav-close span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

.hc-offcanvas-nav li.nav-close span::before {
  margin-left: -9px;
  transform: rotate(135deg);
}

.hc-offcanvas-nav li.nav-close span::after {
  transform: rotate(-45deg);
}

.hc-offcanvas-nav a[href]:not([href="#"]) > span.nav-next {
  border-left: 1px solid #fff;
}

.hc-offcanvas-nav span.nav-next::before,
.hc-offcanvas-nav li.nav-back span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-left: -2px;
  box-sizing: border-box;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform-origin: center;
}

.hc-offcanvas-nav span.nav-next::before {
  transform: translate(-50%, -50%) rotate(135deg);
}

.hc-offcanvas-nav li.nav-back span::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hc-offcanvas-nav.nav-position-left.nav-open .nav-wrapper {
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-right.nav-open .nav-wrapper {
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-right span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hc-offcanvas-nav.nav-position-right li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(135deg);
}

.hc-offcanvas-nav.nav-position-top.nav-open .nav-wrapper {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-top span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.hc-offcanvas-nav.nav-position-top li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hc-offcanvas-nav.nav-position-bottom.nav-open .nav-wrapper {
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-bottom span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hc-offcanvas-nav.nav-position-bottom li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul .nav-wrapper,
.hc-offcanvas-nav.nav-levels-none .nav-container ul .nav-wrapper {
  box-shadow: none;
  background: transparent;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul h2,
.hc-offcanvas-nav.nav-levels-none .nav-container ul h2 {
  display: none;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul ul a,
.hc-offcanvas-nav.nav-levels-none .nav-container ul ul a {
  font-size: 14px;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li,
.hc-offcanvas-nav.nav-levels-none .nav-container li {
  transition: background .3s ease;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open,
.hc-offcanvas-nav.nav-levels-none .nav-container li.level-open {
  background: #2e6296;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open a,
.hc-offcanvas-nav.nav-levels-none .nav-container li.level-open a {
  border-bottom: 1px solid #295887;
}

.hc-offcanvas-nav .nav-container, .hc-offcanvas-nav .nav-wrapper, .hc-offcanvas-nav ul {
  background: #D06D80;
}

.hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav li.nav-back a {
  background: #90B35D;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.hc-offcanvas-nav a {
  border-bottom: 1px solid #fff;
  font-size: 13px;
  text-transform: uppercase;
}

.hc-offcanvas-nav h2 {
  font-weight: bold;
  color: #fff;
  font-size: 15px;
}

.hc-offcanvas-nav li.nav-close span::before, .hc-offcanvas-nav li.nav-close span::after {
  border-left: 0;
  width: 25px;
  height: 15px;
}

.hc-offcanvas-nav li.nav-close span::before {
  margin-left: -10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-top: -13px;
}

.hc-offcanvas-nav li.nav-close span::after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-top: -13px;
  margin-left: -1px;
}

.nav-close a {
  padding: 25px 15px;
}

.hc-offcanvas-nav h2 {
  text-transform: uppercase;
}

@font-face {
  font-family: 'title-UTM-1';
  src: url("../fonts/font/UTM ViceroyJF.ttf");
}
@font-face {
  font-family: 'title-UTM-2';
  src: url("../fonts/font/UTM Yen Tu.ttf");
}
#home-page {
  position: relative;
}

.bg-1 {
  position: absolute;
  width: 230px;
  height: 330px;
  background-image: url("../images/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 850px;
  left: 0;
  opacity: .6;
  z-index: -1;
}
@media only screen and (max-width: 768px) {
  .bg-1 {
    display: none;
  }
}

.bg-2 {
  position: absolute;
  width: 250px;
  height: 370px;
  background-image: url("../images/bg2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 1226px;
  right: 0;
  opacity: .6;
  z-index: -1;
}
@media only screen and (max-width: 768px) {
  .bg-2 {
    display: none;
  }
}

.bg-3 {
  position: absolute;
  width: 170px;
  height: 197px;
  background-image: url("../images/1274.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 1900px;
  left: 0;
  opacity: .6;
  z-index: -1;
}
@media only screen and (max-width: 768px) {
  .bg-3 {
    display: none;
  }
}

.bg-4 {
  position: absolute;
  width: 260px;
  height: 256px;
  background-image: url("../images/bg4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 665px;
  right: 0;
  opacity: .6;
  z-index: -1;
}
@media only screen and (max-width: 768px) {
  .bg-4 {
    display: none;
  }
}

.product-box {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0px 1px 7px 1px rgba(198, 198, 198, 0.5);
  box-shadow: 0px 1px 7px 1px rgba(198, 198, 198, 0.5);
  transition: .2s ease-out;
  margin-bottom: 20px;
  cursor: pointer;
}
.product-box:hover {
  -webkit-box-shadow: 0px 3px 10px 2px rgba(198, 198, 198, 0.55);
  box-shadow: 0px 3px 10px 2px rgba(198, 198, 198, 0.55);
  transform: translateY(-2px);
}
.product-box:hover .box-images img {
  opacity: .8;
}
.product-box .box-images {
  position: relative;
  max-width: 100%;
  height: 270px;
  overflow: hidden;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .product-box .box-images {
    height: auto;
  }
}
.product-box .box-images img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  transition: .3s;
}
.product-box .box-images .badge-c {
  position: absolute;
  width: 60px;
  height: 25px;
  z-index: 2;
  top: 40px;
  left: -5px;
  background-image: url("../images_icon/sale.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}
.product-box .box-images .badge-c span {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.product-box .box-text {
  padding: 18px 0px;
}
.product-box .box-text .title-product a {
  font-size: 15px;
  font-weight: 500;
  transition: .3s ease-out;
}
.product-box .box-text .title-product a:hover {
  color: #90B35D;
}
.product-box .box-text .price-product {
  padding-top: 10px;
}
.product-box .box-text .price-product .price {
  color: #D06D80;
  font-size: 14px;
  font-weight: 700;
}
.product-box .box-text .price-product .price ins {
  text-decoration: none;
}
.product-box .box-text .add-to-cart-box {
  padding-top: 10px;
}
.product-box .box-text .add-to-cart-box a {
  display: inline-flex;
  align-items: center;
  border: 2px solid #90B35D;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #90B35D;
  height: 27px;
  padding-right: 20px;
  transition: .3s ease-out;
}
.product-box .box-text .add-to-cart-box a::before {
  content: "\f07a";
  font-family: "fontawesome";
  background: #90B35D;
  color: #fff;
  height: 27px;
  width: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.product-box .box-text .add-to-cart-box a:hover {
  color: #fff;
  background: #90B35D;
}

.bread-cumb .breadcrumb {
  background: #fff;
  padding: .75rem 0rem;
}
.bread-cumb .breadcrumb a {
  transition: .3s ease-out;
}
.bread-cumb .breadcrumb a:hover {
  color: #90B35D;
}
.bread-cumb.bread-two {
  background: #E6E6E6;
  margin: 0;
}
.bread-cumb.bread-two .breadcrumb {
  background: none;
  padding: 10px 0px;
}

.pages {
  margin: 20px auto;
}
.pages ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.pages ul li {
  margin-right: 10px;
}
.pages ul li:last-child {
  margin-right: unset;
}
.pages ul li a {
  width: 30px;
  height: 30px;
  display: inline-flex;
  border: 2px solid #000;
  justify-content: center;
  align-items: center;
  transition: .3s ease-out;
  font-size: 14px;
  border-radius: 50%;
}
.pages ul li a:hover {
  background: #90B35D;
  color: #fff;
}

.banner {
  position: relative;
  overflow: hidden;
}
.banner .banner-images {
  max-width: 100%;
  height: 556px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 576px) {
  .banner .banner-images {
    height: 320px;
  }
}
.banner .banner-images img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.banner .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.281);
}
.banner .box-text {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 70%;
}
@media only screen and (max-width: 768px) {
  .banner .box-text {
    width: 90%;
  }
}
.banner .box-text h2 {
  font-size: 60px;
  color: #fff;
  font-weight: 700;
}
@media only screen and (max-width: 576px) {
  .banner .box-text h2 {
    font-size: 25px;
  }
}
.banner .box-text .btn-shop-now {
  display: inline-block;
  color: #90B35D;
  font-size: 20px;
  font-weight: 700;
  background: #fff;
  padding: 8px 30px;
  border-radius: 5px;
  margin-top: 20px;
  text-transform: uppercase;
  transition: .3s ease-out;
}
.banner .box-text .btn-shop-now:hover {
  background: #90B35D;
  color: #fff;
}
@media only screen and (max-width: 576px) {
  .banner .box-text .btn-shop-now {
    font-size: 14px;
  }
}

.welcome-tl {
  padding-top: 60px;
  position: relative;
  z-index: 2;
}
.welcome-tl .sec-1 {
  z-index: 3;
}
.welcome-tl .sec-1 .main-title {
  text-align: center;
  text-align: left;
}
.welcome-tl .sec-1 .main-title h1, .welcome-tl .sec-1 .main-title h2 {
  font-size: 30px;
  color: #90B35D;
}
.welcome-tl .sec-1 .main-title .dv-line {
  width: 110px;
  height: 2px;
  background: #90B35D;
  margin: 17px auto;
}
.welcome-tl .sec-1 .main-title .dv-line {
  margin: 17px 0px;
}
.welcome-tl .sec-2 {
  border-top: 1px solid #E3E3E4;
  border-bottom: 1px solid #E3E3E4;
  padding-top: 40px;
  padding-bottom: 60px;
  margin-top: 53px;
}
.welcome-tl .sec-2 .main-title {
  text-align: center;
}
.welcome-tl .sec-2 .main-title h1, .welcome-tl .sec-2 .main-title h2 {
  font-size: 30px;
  color: #90B35D;
}
.welcome-tl .sec-2 .main-title .dv-line {
  width: 110px;
  height: 2px;
  background: #90B35D;
  margin: 17px auto;
}
.welcome-tl .sec-2 .card {
  text-align: center;
  border: none;
  margin-bottom: 20px;
}
.welcome-tl .sec-2 .card h4 {
  font-size: 21px;
  color: #5F4D36;
  display: -webkit-box;
  line-height: 26px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 52px;
}
.welcome-tl .sec-2 .card .desc {
  font-size: 14px;
  padding: 20px 0px;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 95px;
}
.welcome-tl .sec-2 .card .btn-read-more {
  display: block;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  border-top: 1px solid #5F4D36;
  padding-top: 15px;
  transition: .3s ease-out;
  color: #5F4D36;
  margin-top: 10px;
  margin-bottom: 10px;
}
.welcome-tl .sec-2 .card .btn-read-more:after {
  content: "\f178";
  font-family: "fontawesome";
  padding-left: 5px;
  color: #5F4D36;
  transition: .3s ease-out;
}
.welcome-tl .sec-2 .card .btn-read-more:hover:after {
  padding-left: 15px;
}
.welcome-tl p {
  font-size: 14px;
  line-height: 26px;
  text-align: justify;
  color: #595858;
  font-weight: 500;
}
.welcome-tl .intro-images {
  max-width: 100%;
  height: 220px;
  overflow: hidden;
}
.welcome-tl .intro-images img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
@media only screen and (max-width: 768px) {
  .welcome-tl .intro-images {
    height: auto;
  }
}

.galerry-section {
  padding-top: 60px;
  z-index: 2;
}
.galerry-section .main-title {
  text-align: center;
}
.galerry-section .main-title h1, .galerry-section .main-title h2 {
  font-size: 30px;
  color: #90B35D;
}
.galerry-section .main-title .dv-line {
  width: 110px;
  height: 2px;
  background: #90B35D;
  margin: 17px auto;
}
.galerry-section .galerry-box {
  position: relative;
}
.galerry-section .galerry-box:hover .overlay {
  opacity: 1;
  visibility: visible;
}
.galerry-section .galerry-box:hover .ct-icon {
  opacity: 1;
  visibility: visible;
}
.galerry-section .galerry-box:hover .ct-icon a:first-child {
  animation: moveLeft .5s forwards;
}
.galerry-section .galerry-box:hover .ct-icon a:last-child {
  animation: moveRight .5s forwards;
}
.galerry-section .galerry-box .images {
  max-width: 100%;
  height: 200px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .galerry-section .galerry-box .images {
    height: auto;
  }
}
.galerry-section .galerry-box .images img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.galerry-section .galerry-box .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.836);
  z-index: 2;
  transition: .3s ease-out;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}
.galerry-section .galerry-box .ct-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  transition: .3s ease-out;
  opacity: 0;
  visibility: hidden;
}
.galerry-section .galerry-box .ct-icon a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #fff;
  background: #595858;
  transition: .3s ease-out;
}
.galerry-section .galerry-box .ct-icon a:hover {
  background: #90B35D;
  color: #fff;
}
@keyframes moveLeft {
  0% {
    transform: translateX(-25px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes moveRight {
  0% {
    transform: translateX(25px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }
}
.client-feed-back {
  padding-top: 54px;
  z-index: 2;
}
.client-feed-back .main-title {
  text-align: center;
}
.client-feed-back .main-title h1, .client-feed-back .main-title h2 {
  font-size: 30px;
  color: #90B35D;
}
.client-feed-back .main-title .dv-line {
  width: 110px;
  height: 2px;
  background: #90B35D;
  margin: 17px auto;
}
.client-feed-back .main-title .dv-line {
  margin: 17px auto 38px auto;
}
.client-feed-back .container {
  border-top: 1px solid #F1F1F1;
  padding-top: 50px;
}
.client-feed-back .card {
  border: none;
  background: #F4F4F4;
  padding: 23px 30px;
}
.client-feed-back .card .box-images {
  width: 130px;
  height: 130px;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
}
.client-feed-back .card .box-images img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.client-feed-back .card .box-text .desc {
  font-size: 14px;
  font-weight: 500;
  padding-top: 16px;
}
.client-feed-back .card .box-text .name {
  color: #D06D80;
  font-weight: 500;
  font-size: 16px;
  padding-top: 20px;
}
.client-feed-back .owl-carousel .item {
  margin-bottom: 0px;
}
.client-feed-back .owl-carousel:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}
.client-feed-back .owl-carousel .owl-nav {
  opacity: 1;
  visibility: visible;
  transition: .3s ease-in-out;
  margin-top: unset;
}
@media only screen and (max-width: 768px) {
  .client-feed-back .owl-carousel .owl-nav {
    opacity: 1;
    visibility: visible;
  }
}
.client-feed-back .owl-carousel .owl-nav button {
  background-color: none;
  border: none;
  outline: none;
  font-size: 20px;
  z-index: 4;
  transition: .3s ease-out;
}
.client-feed-back .owl-carousel .owl-nav button .fa {
  width: 30px;
  height: 30px;
  border: 1px solid #959596;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #959596;
  z-index: 5;
  transition: .3s ease-out;
}
.client-feed-back .owl-carousel .owl-nav button .fa:hover {
  background: #90B35D;
  color: #fff;
}
.client-feed-back .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .client-feed-back .owl-carousel .owl-nav button.owl-prev {
    left: -20px;
  }
}
.client-feed-back .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .client-feed-back .owl-carousel .owl-nav button.owl-next {
    right: -20px;
  }
}

.take-care-rose {
  margin-top: 54px;
  z-index: 2;
}
.take-care-rose .take-care-box {
  padding-top: 40px;
}
.take-care-rose .container {
  border-top: 1px solid #F1F1F1;
  padding-top: 40px;
}
.take-care-rose .main-title {
  text-align: center;
}
.take-care-rose .main-title h1, .take-care-rose .main-title h2 {
  font-size: 30px;
  color: #90B35D;
}
.take-care-rose .main-title .dv-line {
  width: 110px;
  height: 2px;
  background: #90B35D;
  margin: 17px auto;
}
.take-care-rose .card {
  border: none;
  margin-bottom: 25px;
}
.take-care-rose .card .box-images {
  max-width: 100%;
  height: 225px;
  overflow: hidden;
}
.take-care-rose .card .box-images img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.take-care-rose .card .box-text {
  padding-top: 15px;
}
.take-care-rose .card .box-text .title {
  display: -webkit-box;
  font-size: 20px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: .3s ease-out;
}
.take-care-rose .card .box-text .title:hover {
  color: #90B35D;
}
.take-care-rose .card .box-text .date {
  font-size: 15px;
  color: #90B35D;
  padding-top: 7px;
}
.take-care-rose .card .box-text .btn-read-more {
  display: block;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 12px;
  transition: .3s ease-out;
  color: #5F4D36;
}
.take-care-rose .card .box-text .btn-read-more:after {
  content: "\f178";
  font-family: "fontawesome";
  padding-left: 5px;
  color: #5F4D36;
  transition: .3s ease-out;
}
.take-care-rose .card .box-text .btn-read-more:hover:after {
  padding-left: 15px;
}
.take-care-rose .see-all-box {
  margin: 40px auto;
  text-align: center;
}
.take-care-rose .see-all-box a {
  background: #90B35D;
  color: #fff;
  display: inline-block;
  padding: 4px 12px;
  transition: .3s ease-out;
}
.take-care-rose .see-all-box a:hover {
  background: #D06D80;
  color: #fff;
}

.main-cate {
  padding-top: 40px;
}
.main-cate .cate-1 .select-filter select {
  height: 40px;
  border: 1px solid #DDDDDD;
  background: #fff;
  box-shadow: inset 0 -1.4em 1em 0 rgba(0, 0, 0, 0.02);
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-position: right .45em top 50%;
  background-repeat: no-repeat;
  padding-right: 1.4em;
  background-size: auto 16px;
  border-radius: 0;
  padding-left: 0.74em;
}
.main-cate .cate-1 .select-filter select:focus, .main-cate .cate-1 .select-filter select:active, .main-cate .cate-1 .select-filter select:visited {
  box-shadow: 0 0 5px #ccc;
  opacity: 1 !important;
  outline: 0;
  color: #333;
}
.main-cate .cate-1 .filler-cate {
  width: 100%;
  margin-top: 20px;
}
.main-cate .cate-1 .filler-cate button {
  background: #fff;
}
.main-cate .cate-1 .overlay-f {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.445);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.main-cate .cate-1 .overlay-f.active-ov {
  opacity: 1;
  visibility: visible;
}
.main-cate .cate-2 {
  padding-top: 30px;
}
@media only screen and (max-width: 576px) {
  .main-cate .cate-2 .row .has-custom-fix {
    position: fixed;
    top: 0;
    left: -100vw;
    background: #fff;
    z-index: 9998;
    width: 300px;
    height: 100%;
    padding: 25px;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-out;
  }
  .main-cate .cate-2 .row .has-custom-fix.show-custom {
    left: 0;
    opacity: 1;
    visibility: visible;
  }
}
.main-cate .cate-2 .list-cate-box .list-cate-title {
  text-align: center;
  text-align: left;
}
.main-cate .cate-2 .list-cate-box .list-cate-title h1, .main-cate .cate-2 .list-cate-box .list-cate-title h2 {
  font-size: 30px;
  color: #90B35D;
}
.main-cate .cate-2 .list-cate-box .list-cate-title .dv-line {
  width: 110px;
  height: 2px;
  background: #90B35D;
  margin: 17px auto;
}
.main-cate .cate-2 .list-cate-box .list-cate-title h1 {
  font-size: 16px;
  text-transform: uppercase;
}
.main-cate .cate-2 .list-cate-box .list-cate-title .dv-line {
  width: 30px;
  height: 2px;
  margin: 17px 0px;
}
.main-cate .cate-2 .list-cate-box .list-cates li {
  border-bottom: 1px solid #ECECEC;
  padding: 10px 0px;
  position: relative;
}
.main-cate .cate-2 .list-cate-box .list-cates li a {
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  transition: .3s;
}
.main-cate .cate-2 .list-cate-box .list-cates li a:hover {
  color: #90B35D;
}
.main-cate .cate-2 .list-cate-box .list-cates li a.has-child {
  position: relative;
}
.main-cate .cate-2 .list-cate-box .list-cates li .btn-drop {
  display: block;
  position: absolute;
  top: 9.5px;
  right: 3px;
  cursor: pointer;
  transition: .2s;
  width: 20px;
  text-align: center;
}
.main-cate .cate-2 .list-cate-box .list-cates li .btn-drop::after {
  content: "\f105";
  font-family: "fontawesome";
}
.main-cate .cate-2 .list-cate-box .list-cates li .btn-drop:hover {
  color: #D06D80;
}
.main-cate .cate-2 .list-cate-box .list-cates li .btn-drop.active {
  transform: rotateZ(90deg);
}
.main-cate .cate-2 .list-cate-box .list-cates li .drop-child {
  border-left: 1px solid #ECECEC;
  height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: .4s ease-out;
}
.main-cate .cate-2 .list-cate-box .list-cates li .drop-child.show-drop {
  height: auto;
  opacity: 1;
  visibility: visible;
  transition: .4s ease-out;
  padding-left: 15px;
  margin-left: 10px;
  margin-top: 6px;
}
.main-cate .cate-2 .list-cate-box .list-cates li .drop-child li {
  border-bottom: unset;
  padding: 0px;
}
.main-cate .cate-2 .list-cate-box .list-cates li .drop-child li a {
  font-size: 14px;
  text-transform: capitalize;
}
.main-cate .cate-2 .list-cate-box .search-cate {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 25px;
}
.main-cate .cate-2 .list-cate-box .search-cate input {
  width: 100%;
  position: relative;
  border: 1px solid #D5D5D5;
  border-radius: 50%;
  border-radius: 50px;
  outline: none;
  padding-left: 10px;
  z-index: 1;
}
.main-cate .cate-2 .list-cate-box .search-cate input::placeholder {
  font-size: 13px;
}
.main-cate .cate-2 .list-cate-box .search-cate button {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background: #90B35D;
  border-radius: 50%;
  position: absolute;
  right: -12px;
  color: #fff;
  z-index: 2;
}
.main-cate .cate-2 .list-cate-box .input-ranger {
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #909598;
}
.main-cate .cate-2 .list-cate-box .input-ranger .fil-price {
  margin-top: 15px;
}
.main-cate .cate-2 .list-cate-box .input-ranger .fil-price button {
  background: #D06D80;
  padding: 5px 25px;
  color: #fff;
  font-size: 14px;
  border-radius: 50px;
  transition: .3s ease-out;
  outline: none;
}
.main-cate .cate-2 .list-cate-box .input-ranger .fil-price button:hover {
  background: #90B35D;
}
.main-cate .cate-2 .list-cate-box .input-ranger .list-cate-title h2 {
  font-size: 16px;
  text-transform: uppercase;
}
.main-cate .cate-2 .list-cate-box .input-ranger .input-top input {
  height: 32px;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 4px 8px;
  border: 1px solid #edf2f5;
  font-size: 13px;
  width: 75px;
  outline: none;
}
.main-cate .cate-2 .list-cate-box .input-ranger .input-top label {
  font-size: 13px;
  padding-left: 3px;
}
.main-cate .cate-2 .list-cate-box .input-ranger .input-top .minus {
  padding: 0px 10px;
}
.main-cate .cate-2 .list-cate-box .input-ranger .price-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}
.main-cate .cate-2 .list-cate-box .input-ranger .price-text span {
  font-size: 10px;
  color: #46aaf2;
  display: block;
}
.main-cate .cate-2 .list-cate-box .input-ranger .price-text span:first-child {
  margin-left: -5px;
}
.main-cate .cate-2 .list-cate-box .input-ranger .price-text span:last-child {
  margin-right: -15px;
}
.main-cate .cate-2 .list-cate-box .input-ranger .ranger-content {
  margin-top: 15px;
}
.main-cate .cate-2 .list-cate-box .input-ranger .ui-widget.ui-widget-content {
  border: 0;
}
.main-cate .cate-2 .list-cate-box .input-ranger .ui-widget-header {
  background: #D06D90;
}
.main-cate .cate-2 .list-cate-box .input-ranger .ui-widget-content {
  border: 1px solid #ccdae3;
  background: #ecf0f1;
}
.main-cate .cate-2 .list-cate-box .input-ranger .ui-state-default, .main-cate .cate-2 .list-cate-box .input-ranger .ui-widget-content .ui-state-default, .main-cate .cate-2 .list-cate-box .input-ranger .ui-widget-header .ui-state-default, .main-cate .cate-2 .list-cate-box .input-ranger .ui-button, .main-cate .cate-2 .list-cate-box .input-ranger html .ui-button.ui-state-disabled:hover, .main-cate .cate-2 .list-cate-box .input-ranger html .ui-button.ui-state-disabled:active {
  font-weight: normal;
  color: #454545;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  top: -7px;
  margin: 0px -13px;
  background: #90B35D;
  outline: none;
}
.main-cate .cate-2 .list-product .row.no-gutters > [class*=col-] {
  padding-left: 10px;
  padding-right: 10px;
}
.main-cate .cate-2 .list-product .row.no-gutters {
  margin-right: -10px;
  margin-left: -10px;
}

.bread-cumb {
  margin-top: 30px;
}

.infor-product .product-galerry img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.infor-product .product-galerry .slider-for {
  -webkit-box-shadow: 0px 2px 16px 1px rgba(233, 236, 239, 0.61);
  box-shadow: 0px 2px 16px 1px rgba(233, 236, 239, 0.61);
}
.infor-product .product-galerry .slider-for:hover .slick-prev {
  opacity: 1;
  visibility: visible;
}
.infor-product .product-galerry .slider-for:hover .slick-next {
  opacity: 1;
  visibility: visible;
}
.infor-product .product-galerry .slider-for .item {
  height: 385px;
  cursor: pointer;
}
.infor-product .product-galerry .slider-for .slick-prev {
  left: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-out;
}
.infor-product .product-galerry .slider-for .slick-prev:before {
  content: "\f104";
  font-family: "fontawesome";
  color: #000;
}
.infor-product .product-galerry .slider-for .slick-next {
  right: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-out;
}
.infor-product .product-galerry .slider-for .slick-next:before {
  content: "\f105";
  font-family: "fontawesome";
  color: #000;
}
.infor-product .product-galerry .slider-nav {
  background-color: rgba(246, 247, 248, 0.753);
  margin-top: 16px;
}
.infor-product .product-galerry .slider-nav:hover .slick-prev {
  opacity: 1;
  visibility: visible;
}
.infor-product .product-galerry .slider-nav:hover .slick-next {
  opacity: 1;
  visibility: visible;
}
.infor-product .product-galerry .slider-nav .item {
  cursor: pointer;
  height: 100%;
}
.infor-product .product-galerry .slider-nav .item img {
  border: 1px solid rgba(246, 247, 248, 0.753);
  padding: 0px 5px;
}
.infor-product .product-galerry .slider-nav .slick-prev {
  background: rgba(188, 189, 192, 0.699);
  height: 100%;
  left: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-out;
}
.infor-product .product-galerry .slider-nav .slick-prev:before {
  content: "\f104";
  font-family: "fontawesome";
  color: #000;
}
.infor-product .product-galerry .slider-nav .slick-next {
  background: rgba(188, 189, 192, 0.699);
  height: 100%;
  right: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-out;
}
.infor-product .product-galerry .slider-nav .slick-next:before {
  content: "\f105";
  font-family: "fontawesome";
  color: #000;
}
.infor-product .infor-shop {
  text-align: center;
  padding-top: 15px;
}
.infor-product .infor-shop h4 {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
}
.infor-product .exceprt-product .product-title {
  padding-bottom: 20px;
  border-bottom: 2px solid #D06D80;
}
.infor-product .exceprt-product .product-title h1 {
  font-size: 28px;
  color: #D06D80;
  line-height: 40px;
}
.infor-product .exceprt-product .price-product .price {
  font-size: 17px;
  font-weight: 700;
  padding-top: 17px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
  color: #90B35D;
}
.infor-product .exceprt-product .price-product ins {
  margin-left: 10px;
  text-decoration: none;
}
.infor-product .exceprt-product .short-descrip {
  border-bottom: 1px solid #E3E3E4;
  border-top: 1px solid #E3E3E4;
  padding: 25px 0px;
  margin-top: 25px;
}
.infor-product .exceprt-product .add-to-cart-box {
  padding-top: 30px;
  display: flex;
}
.infor-product .exceprt-product .add-to-cart-box .btn-cart-box {
  background: #D06D80;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 40px;
  text-transform: uppercase;
  border-radius: 5px;
  color: #fff;
}
.infor-product .exceprt-product .add-to-cart-box .btn-cart-box.buy-now {
  margin-right: 24px;
}
.infor-product .exceprt-product .add-to-cart-box .btn-cart-box.hire-tree {
  background: #90B35D;
}
@media only screen and (max-width: 768px) {
  .infor-product .exceprt-product .add-to-cart-box .btn-cart-box {
    flex: 1;
    padding: 8px 0px;
  }
  .infor-product .exceprt-product .add-to-cart-box .btn-cart-box.buy-now {
    margin-right: 15px;
  }
}

.product-tabs {
  padding-top: 40px;
}
.product-tabs .tabs-box .tabs-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.product-tabs .tabs-box .tabs-title h3 {
  border-bottom: 2px solid #90B35D;
  padding-bottom: 10px;
}
.product-tabs .tabs-box .tabs-title h3 span {
  border-bottom: 2px solid #D06D80;
  padding-bottom: 10px;
}
.product-tabs .tabs-box .content {
  padding-top: 20px;
}

.related-product {
  margin-top: 40px;
}
.related-product .tabs-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.related-product .tabs-title h3 {
  border-bottom: 2px solid #90B35D;
  padding-bottom: 10px;
}
.related-product .tabs-title h3 span {
  border-bottom: 2px solid #D06D80;
  padding-bottom: 10px;
}
.related-product .row.no-gutters > [class*=col-] {
  padding-left: 10px;
  padding-right: 10px;
}
.related-product .row.no-gutters {
  margin-right: -10px;
  margin-left: -10px;
}

.form-pop-up .container {
  max-width: 650px;
  background: #fff;
  padding: 30px;
  position: fixed;
  height: auto;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  transition: .3s ease-out;
  display: none;
}
@media only screen and (max-width: 576px) {
  .form-pop-up .container {
    max-width: 300px;
    background: #fff;
    padding: 15px;
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -35%);
    z-index: 99;
    transition: .3s ease-out;
  }
}
.form-pop-up .container.show-up {
  display: block;
  animation: show-form .3s forwards;
}
.form-pop-up .overlay-pop-up {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.514);
  z-index: 98;
  transition: .3s ease-out;
  display: none;
}
.form-pop-up .overlay-pop-up.show-pop-ovl {
  display: block;
  animation: fade-ovl .3s forwards;
}
@keyframes fade-ovl {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes show-form {
  0% {
    top: 30%;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    top: 40%;
    opacity: 1;
    visibility: visible;
  }
}
.form-pop-up label {
  font-size: 20px;
  color: #D06D80;
  display: block;
  margin-bottom: 20px;
}
.form-pop-up input {
  width: 100%;
  border: 1px solid #90B35D;
  height: 40px;
  margin-bottom: 15px;
  outline: none;
  padding-left: 10px;
}
.form-pop-up input:active, .form-pop-up input:visited, .form-pop-up input:focus {
  border: 1px solid #D06D80;
}
.form-pop-up textarea {
  width: 100%;
  border: 1px solid #90B35D;
  outline: none;
  padding-left: 10px;
}
.form-pop-up textarea:active, .form-pop-up textarea:visited, .form-pop-up textarea:focus {
  border: 1px solid #D06D80;
}
.form-pop-up button {
  display: block;
  margin: 15px auto 0px auto;
  padding: 10px 20px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  background: #D06D80;
  transition: .3s ease-out;
}
.form-pop-up button:hover {
  background: #90B35D;
}

.main-contact .contact-info p {
  font-size: 14px;
  position: relative;
  margin-bottom: 17px;
}
.main-contact .contact-info p span {
  position: relative;
  display: block;
  padding-left: 33px;
}
.main-contact .contact-info p:before {
  color: #ffff;
  background: #90B35D;
  position: absolute;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-family: "fontawesome";
}
.main-contact .contact-info p:nth-child(1):before {
  content: "\f041";
}
.main-contact .contact-info p:nth-child(2):before {
  content: "\f0e0";
}
.main-contact .contact-info p:nth-child(3):before {
  content: "\f0ac";
}
.main-contact .contact-title {
  margin-bottom: 25px;
}
.main-contact .contact-title h1, .main-contact .contact-title h2 {
  font-size: 20px;
  font-weight: 700;
  color: #90B35D;
}
@media only screen and (max-width: 576px) {
  .main-contact .contact-title {
    margin-top: 20px;
  }
}
.main-contact .content-contact {
  margin-top: 15px;
}
.main-contact .content-contact p {
  font-size: 14px;
}

.title-bg .jumbotron {
  background-image: url("../images/bg1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 2;
  margin-bottom: unset;
}
.title-bg .jumbotron:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.466);
}
.title-bg .jumbotron .display-4 {
  z-index: 4;
  color: #fff;
  font-size: 20px;
  display: block;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}

.list-blogs-cate {
  margin-top: 45px;
}
.list-blogs-cate .tabs-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.list-blogs-cate .tabs-title h3 {
  border-bottom: 2px solid #90B35D;
  padding-bottom: 10px;
}
.list-blogs-cate .tabs-title h3 span {
  border-bottom: 2px solid #D06D80;
  padding-bottom: 10px;
}
.list-blogs-cate .list-blogs .media {
  border-bottom: 1px solid #D06D80;
  padding: 15px 0px;
}
.list-blogs-cate .list-blogs .media:last-child {
  border-bottom: unset;
}
.list-blogs-cate .list-blogs .media .images-box {
  max-width: 320px;
  height: 210px;
  flex: 0 0 42%;
  overflow: hidden;
}
@media only screen and (max-width: 576px) {
  .list-blogs-cate .list-blogs .media .images-box {
    height: auto;
  }
}
.list-blogs-cate .list-blogs .media .images-box:hover img {
  transform: scale(1.1);
}
.list-blogs-cate .list-blogs .media .images-box img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  object-fit: cover;
  transition: .3s ease-out;
}
.list-blogs-cate .list-blogs .media .box-text {
  flex: 0 0 56%;
  margin-left: 20px;
}
.list-blogs-cate .list-blogs .media .box-text .title a {
  font-size: 20px;
  font-weight: 700;
  transition: .3s ease-out;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-blogs-cate .list-blogs .media .box-text .title a:hover {
  color: #90B35D;
}
.list-blogs-cate .list-blogs .media .box-text .desc {
  padding-top: 15px;
}
.list-blogs-cate .list-blogs .media .box-text .desc p {
  display: -webkit-box;
  font-size: 14px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 62px;
  color: #939393;
}
.list-blogs-cate .list-blogs .media .box-text .date {
  padding-top: 15px;
}
.list-blogs-cate .list-blogs .media .box-text .date p {
  color: #939393;
  font-size: 14px;
}
.list-blogs-cate .pages {
  margin-top: 25px;
}

@media only screen and (max-width: 576px) {
  .widget-right {
    margin-top: 25px;
  }
}
.widget-right .tabs-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.widget-right .tabs-title h3 {
  border-bottom: 2px solid #90B35D;
  padding-bottom: 10px;
}
.widget-right .tabs-title h3 span {
  border-bottom: 2px solid #D06D80;
  padding-bottom: 10px;
}
.widget-right .search-cate {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 25px;
}
.widget-right .search-cate input {
  width: 100%;
  position: relative;
  border: 1px solid #D5D5D5;
  border-radius: 50%;
  border-radius: 50px;
  outline: none;
  padding-left: 10px;
  z-index: 1;
}
.widget-right .search-cate input::placeholder {
  font-size: 13px;
}
.widget-right .search-cate button {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background: #90B35D;
  border-radius: 50%;
  position: absolute;
  right: -12px;
  color: #fff;
  z-index: 2;
}
.widget-right .news-blog {
  margin-top: 50px;
}
.widget-right .media {
  margin-bottom: 20px;
}
.widget-right .media .images-box {
  flex: 0 0 40%;
  max-width: 100%;
  overflow: hidden;
}
.widget-right .media .images-box img {
  vertical-align: middle;
  width: 100%;
  transition: .3s ease-out;
}
.widget-right .media .images-box:hover img {
  transform: scale(1.1);
}
@media only screen and (max-width: 576px) {
  .widget-right .media .images-box {
    height: auto;
  }
}
.widget-right .media .box-text {
  flex: 0 0 56%;
  margin-left: 17px;
}
.widget-right .media .box-text .title a {
  font-size: 17px;
  font-weight: 700;
  transition: .3s ease-out;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.widget-right .media .box-text .title a:hover {
  color: #90B35D;
}

.main-detail {
  margin-top: 45px;
}
.main-detail .tabs-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.main-detail .tabs-title h3 {
  border-bottom: 2px solid #90B35D;
  padding-bottom: 10px;
}
.main-detail .tabs-title h3 span {
  border-bottom: 2px solid #D06D80;
  padding-bottom: 10px;
}
.main-detail .related-blogs {
  margin-top: 50px;
}
.main-detail .card {
  border: none;
  margin-bottom: 25px;
}
.main-detail .card .images-box {
  max-width: 100%;
  height: 200px;
  overflow: hidden;
}
@media only screen and (max-width: 576px) {
  .main-detail .card .images-box {
    height: 270px;
  }
}
.main-detail .card .images-box img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  transition: .3s ease-out;
}
.main-detail .card .images-box:hover img {
  transform: scale(1.1);
}
.main-detail .card .box-text {
  padding-top: 15px;
}
.main-detail .card .box-text .title a {
  font-size: 16px;
  font-weight: 700;
  transition: .3s ease-out;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-detail .card .box-text .title a:hover {
  color: #90B35D;
}

/*# sourceMappingURL=style.css.map */
